@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Comic Neue', cursive, sans-serif;
  @apply bg-slate-50 text-slate-800;
}
